body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

[class^="czs-"] {
    font-size: 20px;
}
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
    color: #333;
    background-color: #fafafa;
    -webkit-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    counter-reset: entry825h2 entry825h3 entry825h4 entry825h5 entry825h6
}

p, blockquote, ul, ol, dl, figure {
    margin-bottom: 24px
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure > img {
    display: block
}

figcaption {
    font-size: 14px
}

ul, ol {
    margin-left: 24px
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -4px
}

.list-inline > li {
    display: inline;
    padding-right: 4px;
    padding-left: 4px
}

.site-nav .list-inline {
    margin-left: -12px
}

.site-nav .list-inline li {
    padding-left: 12px
}

li > ul, li > ol {
    margin-bottom: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

a {
    color: #1ca2d3;
    text-decoration: none;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in
}

a:hover {
    color: #2c3e4f;
    text-decoration: none
}

input[type="search"] {
    width: 100%;
    max-width: 480px;
    height: 48px;
    outline: none;
    background-color: #fff;
    padding: 12px 16px 12px 48px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: inherit;
    font: inherit;
    -webkit-appearance: textfield;
    background-image: url("/assets/img/site/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 16px center;
    -webkit-transition: all 150ms ease-in;
    transition: all 150ms ease-in
}

input[type="search"]:focus, input[type="search"]:active {
    -webkit-box-shadow: 0 8px 16px -8px rgba(150, 150, 150, 0.3), 0 1px 2px #eee;
    box-shadow: 0 8px 16px -8px rgba(150, 150, 150, 0.3), 0 1px 2px #eee
}

input[type="search"]::-webkit-search-cancel-button {
    display: none
}

blockquote {
    color: #6f6f6f;
    /*border-left: 4px solid #6f6f6f;*/
    /*padding-left: 12px;*/
    letter-spacing: -1px;

    background-color: #f5f5f5;
    position: relative;
    padding: 10px 0 10px 11px;
    font-family: Georgia,'Times New Roman',STKaiti,BiauKai,KaiTi,'DFKai-SB','KaiTi_GB2312',serif;
    border-left: 5px solid #c3cace;
}

blockquote > :last-child {
    margin-bottom: 0
}

pre, code {
    font-size: 14px;
    border-radius: 2px;
    font-family: Monaco, Consolas, Menlo, monospace
}

kbd {
    background-color: #fff;
    display: inline-block;
    padding: 6px;
    font-size: 16px;
    font-family: Monaco, Consolas, Menlo, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb
}

.wrapper {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px
}

.wrapper.no-padding {
    padding: 0
}

.text-center {
    text-align: center
}

.hidden {
    display: none
}

.strikethrough {
    text-decoration: line-through
}

.pb0 {
    padding-bottom: 0
}

.button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin: 6px 0;
    padding: 12px 48px;
    font: inherit;
    font-size: .8em;
    font-weight: 700;
    color: #000;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 24px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    will-change: background-color
}

.button:hover {
    background-color: #fafafa
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.icon > svg path {
    fill: #eee
}

.site-top-header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    display: none
}

@media screen and (min-width: 600px) {
    .site-title {
        display: block
    }
}

.site-title, .site-title:visited {
    color: #fff
}

.site-nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (min-width: 600px) {
    .site-nav > ul {
        float: right
    }
}

.site-nav-page-link {
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .7;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    will-change: opacity
}

.site-nav-page-link:not(:last-child) {
    margin-right: 20px
}

.site-nav-page-link:hover {
    color: #fff;
    opacity: .8
}

.site-nav-page-link.is-active {
    opacity: 1;
    padding-bottom: 12px;
    border-bottom: 3px solid #fff
}

.header {
    position: relative;
    min-height: 292px;
    padding: 96px 24px;
    background-color: #1e1621;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header.home {
    background-image: url("../img/headers/home.jpg");
    background-blend-mode: soft-light
}

.header.lab {
    background-image: url("../img/headers/lab.jpg");
    background-blend-mode: soft-light
}

.header.projects {
    background-image: url("../img/headers/project.jpg");
    background-blend-mode: soft-light
}

.header.about {
    background-image: url("../img/headers/about.jpg");
    background-blend-mode: soft-light
}

.header.project-post {
    background-color: #2c3e4f;
    background-blend-mode: soft-light
}

.header.discover {
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(45deg, #fafafa 25%, transparent 25%, transparent 75%, #fafafa 75%, #fafafa), linear-gradient(-45deg, #fafafa 25%, transparent 25%, transparent 75%, #fafafa 75%, #fafafa);
    background-size: 60px 60px
}

.header.discover a {
    display: block;
    color: #333
}

.header.objectives {
    background-color: #1ca2d3;
    color: #fff
}

.header.contact {
    background-color: #1e1621;
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px, 0px 36px, 4px 2px, 29px 6px, 33px 30px;
    background-image: linear-gradient(335deg, #2c3e4f 23px, transparent 23px), linear-gradient(155deg, #2c3e4f 23px, transparent 23px), linear-gradient(335deg, #2c3e4f 23px, transparent 23px), linear-gradient(155deg, #2c3e4f 23px, transparent 23px), linear-gradient(335deg, #2c3e4f 10px, transparent 10px), linear-gradient(155deg, #2c3e4f 10px, transparent 10px), linear-gradient(335deg, #2c3e4f 10px, transparent 10px), linear-gradient(155deg, #2c3e4f 10px, transparent 10px)
}

.header.contact a {
    color: #eee
}

.header.huge {
    min-height: 540px
}

.header-heading {
    position: relative;
    max-width: 760px;
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 1.2em
}

.header-subtitle {
    position: relative;
    font-size: 1.2em;
    color: #eee;
    text-align: center
}

.header-tag {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.16)
}

.header-tag a {
    color: inherit
}

a.header-tag {
    -webkit-transition: background-color .15s ease-in;
    transition: background-color .15s ease-in;
    will-change: background-color
}

a.header-tag:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

.discover-grid {
    margin-left: -24px
}

.discover-column {
    margin-left: 24px;
    background-image: url("../img/site/shadow.svg");
    background-size: 151px 151px;
    background-repeat: no-repeat;
    background-position: top
}

.discover-column:not(:first-child) {
    margin-top: 24px
}

@media screen and (min-width: 600px) {
    .discover-column:not(:first-child) {
        margin-top: 0
    }
}

#lab-icon, #project-icon {
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

#lab-icon {
    background-image: url("../img/site/lab.svg");
    will-change: transform, background-image
}

#lab-icon:hover {
    background-image: url("../img/site/lab-shaking.svg");
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0) rotate(2deg);
        transform: translate3d(-1px, 0, 0) rotate(2deg)
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0) rotate(-2deg);
        transform: translate3d(2px, 0, 0) rotate(-2deg)
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0) rotate(3deg);
        transform: translate3d(-4px, 0, 0) rotate(3deg)
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0) rotate(-3deg);
        transform: translate3d(4px, 0, 0) rotate(-3deg)
    }
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0) rotate(2deg);
        transform: translate3d(-1px, 0, 0) rotate(2deg)
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0) rotate(-2deg);
        transform: translate3d(2px, 0, 0) rotate(-2deg)
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0) rotate(3deg);
        transform: translate3d(-4px, 0, 0) rotate(3deg)
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0) rotate(-3deg);
        transform: translate3d(4px, 0, 0) rotate(-3deg)
    }
}

#project-icon {
    background-image: url("../img/site/work.svg");
    will-change: transform, background-image
}

#project-icon:hover {
    background-image: url("../img/site/work-launching.svg");
    -webkit-animation: launch 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: launch 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}

@-webkit-keyframes launch {
    10%, 30%, 50% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0)
    }
    20%, 40%, 60% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0)
    }
}

@keyframes launch {
    10%, 30%, 50% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0)
    }
    20%, 40%, 60% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0)
    }
}

.objectives-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.objectives-column {
    padding: 24px
}

.objectives-column.no-padding-sides {
    padding-left: 0;
    padding-right: 0
}

@media screen and (min-width: 1024px) {
    .objectives-column.no-padding-sides {
        padding: 24px
    }
}

.objectives-container {
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.objectives-container.archived .objectives-flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.objectives-flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative
}

.objectives-flipper, .objectives-front, .objectives-back {
    width: 320px;
    height: 288px;
    will-change: transition
}

.objectives-front, .objectives-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: height 300ms ease;
    transition: height 300ms ease
}

.objectives-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.objectives-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.objectives-note {
    width: 100%;
    color: #6f6f6f;
    margin: 0;
    padding: 0;
    border-radius: 2px 8px 8px 2px;
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 48px, #abced4 48px, #abced4 50px, transparent 50px), linear-gradient(#eee 0.1em, transparent 0.1em);
    background-size: 100% 48px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16)
}

.objectives-note li {
    list-style: none;
    padding: 12px 24px;
    margin-left: 48px
}

.objectives-note .button-more {
    outline: none;
    font: inherit;
    font-style: italic;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #6f6f6f
}

.objectives-note::after {
    content: '';
    top: 12px;
    left: 12px;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #1ca2d3;
    border-radius: 50%;
    -webkit-box-shadow: inset 2px 2px 5px #7d7d7d, 2px 50.1em 5px #fff, 0px 50em rgba(125, 125, 125, 0.75), 2px 90.1em 5px #fff, 0px 90em rgba(125, 125, 125, 0.5), 2px 130.1em 5px #fff, 0px 130em rgba(125, 125, 125, 0.25);
    box-shadow: inset 2px 2px 5px #7d7d7d, 2px 50.1em 5px #fff, 0px 50em rgba(125, 125, 125, 0.75), 2px 90.1em 5px #fff, 0px 90em rgba(125, 125, 125, 0.5), 2px 130.1em 5px #fff, 0px 130em rgba(125, 125, 125, 0.25)
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    background-color: #1e1621;
    background-size: cover;
    background-blend-mode: soft-light;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
    background-position: center
}

.site-info {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 12px;
    background-color: #fff;
    font-weight: 500;
    border-radius: 8px;
    max-width: 480px;
    -webkit-box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.24);
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.24);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    padding: 24px 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

@media screen and (min-width: 600px) {
    .site-info {
        margin: 0 auto
    }
}

.site-info div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.site-info a {
    display: block;
    color: #333
}

.site-info + .wrapper {
    padding-top: 96px
}

.tags {
    margin-top: 8px;
    margin-left: -6px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 32px
}

.tag {
    margin-left: 6px;
    padding: 4px 8px;
    border-radius: 2px
}

.next-posts {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.next-posts .post-related {
    position: relative;
    height: 96px;
    background-color: #2c3e4f;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.next-posts .post-related.previous-post, .next-posts .post-related.next-post {
    width: calc(50%);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.next-posts .post-related.previous-post {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.next-posts .post-related.previous-post svg {
    float: left;
    margin-right: 10px
}

.next-posts .post-related.previous-post .suptitle {
    text-align: left;
    margin-left: 34px
}

.next-posts .post-related.next-post {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.next-posts .post-related.next-post svg {
    float: right;
    margin-left: 10px
}

.next-posts .post-related.next-post .suptitle {
    text-align: right;
    margin-right: 34px
}

.next-posts .post-related .suptitle {
    font-size: .9em;
    opacity: .7;
    -webkit-transform: translate3d(0, 12px, 0);
    transform: translate3d(0, 12px, 0)
}

.next-posts .post-related .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    opacity: .9;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    will-change: opacity
}

.next-posts .post-related .title:hover {
    opacity: 1
}

.next-posts .post-related .title span {
    display: none
}

@media screen and (min-width: 600px) {
    .next-posts .post-related .title span {
        display: inline
    }

    .next-posts .post-related .title, .next-posts .post-related .suptitle {
        -webkit-transform: initial;
        transform: initial
    }
}

.next-posts .post-related a {
    display: block;
    color: #fff
}

.site-footer {
    position: relative;
    font-size: 15px;
    color: #eee;
    padding: 24px 0;
    background-color: #1e1621;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.site-footer a {
    color: #eee
}

.footer-heading {
    font-size: 16px;
    line-height: 48px
}

.footer-social {
    text-align: center;
    letter-spacing: 8px
}

.work-list {
    margin-left: 0;
    list-style: none
}

.work-list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px
}

.work-list > li[hidden] {
    display: none
}

.work-list .work-panel {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 16px -8px rgba(150, 150, 150, 0.3), 0 1px 2px #eee;
    box-shadow: 0 8px 16px -8px rgba(150, 150, 150, 0.3), 0 1px 2px #eee
}

.work-list .work-cover {
    position: relative;
    overflow: hidden;
    background-color: #2c3e4f;
    background-size: cover;
    background-blend-mode: soft-light;
    height: 176px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.work-list .work-category {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8em
}

.work-list .work-title {
    z-index: 1;
    padding: 24px;
    margin: 0;
    color: #fff
}

.work-list .work-link {
    color: #fff
}

.work-list .work-overview {
    padding: 24px
}

.work-list .work-overview .tag {
    color: #6f6f6f;
    background-color: #f8f8f8
}

.work-meta {
    font-size: 14px;
    color: #eee
}

.work-link {
    display: block;
    font-size: 24px
}

article.post {
    background-color: #fff;
    overflow-x: hidden
}

.page-content {
    min-height: calc(100% - 292px / 2)
}

.post-wrapper {
    width: 700px;
    margin: 0
}

.post-wrapper.no-frame {
    padding: 0
}

.post-link {
    display: block
}

.post-header {
    padding: 48px 0;
    background-color: #2c3e4f;
    color: #1ca2d3
}

@media screen and (min-width: 1024px) {
    .post-header {
        padding-bottom: 144px
    }
}

.post-photo {
    background-color: #fff;
    border-radius: 2px;
    margin: 0 24px;
    margin-bottom: -92px;
    -webkit-box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.24);
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.24);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

@media screen and (min-width: 600px) {
    .post-photo {
        margin: 0 auto;
        margin-bottom: -92px;
        -webkit-transform: translate3d(0, -116px, 0);
        transform: translate3d(0, -116px, 0)
    }
}

.post-photo.no-frame {
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center
}

.post-content {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    text-rendering: optimizeLegibility;
    padding: 0;
    line-height: 2;
    margin-top: 16px;
}

.post-content p{
    margin-bottom: 16px;
}

.post-content ul, .post-content ol {
    margin-left: 0
}

.post-content a h1, .post-content a h2, .post-content a h4, .post-content a h5, .post-content a h6 {
    color: #333
}

.post-content a h3 {
    color: #777
}

.post-content h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 48px;
    line-height: 39px;
}

.post-content h3 {
    font-size: 24px;
    color: #777;
    margin-top: 24px;
    line-height: 35px;
}

.post-content h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
    line-height: 31px;
}

.post-content h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    color: #424b50;
    background-color: transparent;
}

.post-content ul, .post-content ol {
    padding-left: 32px;
}

.post-content .center {
    text-align: center
}

.post-content .caption, .post-content .title {
    font-size: .8em;
    text-align: center;
    color: #6f6f6f
}

.post-content .title {
    color: #444;
    font-weight: 500;
    margin-top: -8px
}

.post-content .footnotes {
    font-size: .8em;
    margin-top: 12px;
    padding-top: 12px
}

.post-content .footnotes p, .post-content .footnotes ol {
    font-size: inherit
}

.post-content .footnotes::before {
    display: block;
    content: '';
    width: 192px;
    height: 1px;
    border-top: 1px solid #999;
    padding-bottom: 12px
}

.post-content .references {
    font-size: .9em;
    margin-left: 0;
    margin-top: 24px
}

.post-content .references::before {
    display: block;
    content: 'References';
    color: #6f6f6f;
    font-weight: 500;
    margin-bottom: 12px;
    margin-left: -24px
}

.post-content table {
    width: 100%;
    margin-bottom: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-collapse: collapse
}

.post-content th, .post-content td {
    text-align: left;
    padding: 24px;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.post-content th {
    font-weight: 500;
    color: #757575;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}

.post-content tr:nth-child(even) {
    background-color: #fafafa
}

.post-content blockquote {
    font-size: 1.1em;
    letter-spacing: .05rem;

    background-color: #f5f5f5;
    position: relative;
    padding: 0 0 0 11px;
    margin: 16px 0;
    font-family: Georgia,'Times New Roman',STKaiti,BiauKai,KaiTi,'DFKai-SB','KaiTi_GB2312',serif;
    border-left: 5px solid #c3cace;
}

.post-content blockquote cite {
    letter-spacing: 0
}

.post-content .shadow {
    -webkit-box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.24);
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.24);
    margin-bottom: 24px
}

.post-footer {
    border-top: 2px solid #eee;
    padding: 24px 0;
    color: #6f6f6f
}

#markdown-toc {
    font-size: 1rem;
    border-left: 4px solid #1ca2d3;
    margin: 24px;
    padding-left: 24px
}

#markdown-toc ul {
    margin: 0;
    padding-left: 24px;
    font-size: inherit
}

#markdown-toc ul ul {
    display: none
}

#markdown-toc li {
    padding: 4px 0;
    list-style: none
}

#markdown-toc li a {
    font-weight: bold;
    color: #1ca2d3
}

#markdown-toc::before {
    display: block;
    content: 'Contents';
    color: #6f6f6f;
    font-weight: 500;
    margin-bottom: 12px
}

.post-featured {
    padding: 96px 0
}

.post-featured-subtitle {
    position: relative
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media screen and (min-width: 600px) {
    .grid {
        margin-left: -24px
    }
}

@media screen and (min-width: 600px) {
    .grid .grid-item {
        width: calc(50% - 24px);
        margin-left: 24px
    }
}

.timeline {
    border-left: 3px solid #d5d5d5;
    margin: 24px auto;
    margin-left: 2px;
    position: relative;
    padding: 20px;
    list-style: none
}

.timeline__event {
    position: relative;
    padding-left: 24px
}

.timeline__event:not(:last-of-type) {
    padding-bottom: 12px
}

.timeline__event__dot {
    position: absolute;
    left: -33px;
    height: 24px;
    width: 24px;
    margin-top: 20px;
    -webkit-box-shadow: inset 0 0 0 2px #d5d5d5, 0 0 0 3px #fafafa;
    box-shadow: inset 0 0 0 2px #d5d5d5, 0 0 0 3px #fafafa;
    border-radius: 50%;
    background: #fafafa
}

.timeline__event__dot--done {
    background: #d5d5d5
}

.timeline__event__title {
    font-weight: 500
}

.timeline__event__info {
    font-size: .9em;
    color: #6f6f6f;
    line-height: .9em;
    margin-bottom: 8px
}

p code, ul code, ol code {
    background-color: #f6f6f6;
    padding: 1px 5px;
    border-radius: 2px
}

.highlight {
    margin: 0
}

.highlight pre, pre, .highlight .hll {
    font-family: Arial;
    overflow-x: auto;
    white-space: pre;
    padding: 24px 0;
    border-radius: 2px;
    font-size: 1.2em
}

.highlight {
    overflow: auto;
    word-wrap: normal;
    border-radius: 0;
    background: #343642;
    color: #c1c2c3;
    line-height: initial;
    margin: 24px -3000px;
    padding: 48px 3000px
}

.highlight .hll {
    background-color: #ffc
}

.highlight .gd {
    color: #2e3436;
    background-color: #0e1416
}

.highlight .gr {
    color: #eeeeec;
    background-color: #c00
}

.highlight .gi {
    color: #babdb6;
    background-color: #1f2b2d
}

.highlight .go {
    color: #2c3032;
    background-color: #2c3032
}

.highlight .kt {
    color: #e3e7df
}

.highlight .ni {
    color: #888a85
}

.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #8d9684
}

.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .p, .highlight .ge, .highlight .gp, .highlight .gs, .highlight .gt, .highlight .ld, .highlight .s, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .py, .highlight .ow, .highlight .w, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .bp {
    color: #c1c2c3
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .nt {
    color: #729fcf
}

.highlight .cp, .highlight .gh, .highlight .gu, .highlight .na, .highlight .nf {
    color: #e9a94b
}

.highlight .m, .highlight .nb, .highlight .no, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
    color: #8ae234
}

.highlight .o {
    color: #989daa
}

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #fff
}